body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#container .picture {
    width: 275px;
    position: relative;
}

    #container .picture .front {
        -webkit-transform:  rotateX(0deg) rotateY(0deg);
        -moz-transform:     rotateX(0deg) rotateY(0deg);
        -ms-transform:      rotateX(0deg) rotateY(0deg);
        -o-transform:       rotateX(0deg) rotateY(0deg);
        transform:          rotateX(0deg) rotateY(0deg);

        -webkit-transform-style:    preserve-3d;
        -moz-transform-style:       preserve-3d;
        -ms-transform-style:        preserve-3d;
        -o-transform-style:         preserve-3d;
        transform-style:            preserve-3d;

        -webkit-backface-visibility:    hidden;
        backface-visibility:            hidden;

        -webkit-transition: all .4s ease-in-out;
        -moz-transition:    all .4s ease-in-out;
        -ms-transition:     all .4s ease-in-out;
        -o-transition:      all .4s ease-in-out;
        transition:         all .4s ease-in-out;
    }

    #container .picture:hover .front {
        -webkit-transform:  rotateY(180deg);
        -moz-transform:     rotateY(180deg);
        -ms-transform:      rotateY(180deg);
        -o-transform:       rotateY(180deg);
        transform:          rotateY(180deg);
    }

    #container .picture .back {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        -webkit-transform:  rotateY(-180deg);
        -moz-transform:     rotateY(-180deg);
        -ms-transform:      rotateY(-180deg);
        -o-transform:       rotateY(-180deg);
        transform:          rotateY(-180deg);
        
        -webkit-transform-style:    preserve-3d;
        -moz-transform-style:       preserve-3d;
        -ms-transform-style:        preserve-3d;
        -o-transform-style:         preserve-3d;
        transform-style:            preserve-3d;

        -webkit-backface-visibility:    hidden;
        backface-visibility:            hidden;

        -webkit-transition: all .4s ease-in-out;
        -moz-transition:    all .4s ease-in-out;
        -ms-transition:     all .4s ease-in-out;
        -o-transition:      all .4s ease-in-out;
        transition:         all .4s ease-in-out;
    }

    #container .picture:hover .back {
        -webkit-transform:  rotateX(0deg) rotateY(0deg);
        -moz-transform:     rotateX(0deg) rotateY(0deg);
        -ms-transform:      rotateX(0deg) rotateY(0deg);
        -o-transform:       rotateX(0deg) rotateY(0deg);
        transform:          rotateX(0deg) rotateY(0deg);
    }

@media (min-width: 768px) {
    .panel {
        height: 175px;
    }
}

@media (min-width: 992px) {
    .panel {
        height: 150px;
    }
}

@media (min-width: 1200px) {
    .panel {
        height: 130px;
    }
}