body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#container .picture {
    width: 200px;
    position: relative;
}

    #container .picture .front {
        transform: rotateX(0deg) rotateY(0deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: all .4s ease-in-out;
    }

    #container .picture:hover .front {
        transform: rotateY(180deg);
    }

    #container .picture .back {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(-179deg);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: all .4s ease-in-out;
    }

    #container .picture:hover .back {
        transform: rotateX(0deg) rotateY(0deg);
    }