@{
    ViewBag.Title = "Find Images Near You!";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p data-bind="visible: city()">It looks like you live in or near <span data-bind="text: location"></span></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<h2 data-bind="visible: pictures().length == 0 && !requestMade">Finding Images Near You...</h2>
<h2 style="display: none" data-bind="visible: pictures().length == 0 && requestMade">No Images Found Near You!?</h2>
<h2 style="display: none" data-bind="visible: pictures().length > 0 && requestMade">We Found Some Images Near You...</h2>

<div id="container" data-bind="foreach: pictures">
    <div><img data-bind="attr: { src: 'https://farm' + farm + '.staticflickr.com/' + server + '/' + id + '_' + secret + '.jpg', alt: title }" class="img-thumbnail" /></div>
</div>

<style type="text/css">
    #container img {
        width: 200px;
    }
</style>

@section scripts
{
    <script type="text/javascript">
        var locationEndpoint = '@Url.Action("GetLocationInfo", "Home")';
        var picturesEndpoint = '@Url.Action("GetPicturesNearMe", "Home")';
    </script>
    @Scripts.Render("~/bundles/home")
}